<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="CityDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <!--<select id="queryUserById" resultType="com.zpc.mybatis.pojo.User">-->
    <!--select * from tb_user where id = #{id}-->
    <!--</select>-->

    <!--使用别名-->
    <select id="queryCityByName" resultType="com.wz.myBatisRedisDemo.pojo.City">
        select
        dcity.id as id,
        dcity.city_name as cityName,
        dcity.province_name as provinceName
        from
        db_city dcity
        where dcity.city_name = #{cityName};
    </select>

    <!--插入数据-->
    <insert id="createCity" parameterType="com.wz.myBatisRedisDemo.pojo.City">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(UUID(), '-', '')
        </selectKey>
        insert into db_city (id, city_name, province_name) values (#{id}, #{cityName}, #{provinceName})
    </insert>

    <select id="queryUniqueCity" resultType="com.wz.myBatisRedisDemo.pojo.City">
        select * from db_city group by province_name
    </select>

<!--    <update id="updateUser" parameterType="com.inspur.mybatis.pojo.User">-->
<!--        UPDATE tb_user-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <if test="userName!=null">user_name = #{userName},</if>-->
<!--            <if test="password!=null">password = #{password},</if>-->
<!--            <if test="name!=null">name = #{name},</if>-->
<!--            <if test="age!=null">age = #{age},</if>-->
<!--            <if test="sex!=null">sex = #{sex},</if>-->
<!--            <if test="birthday!=null">birthday = #{birthday},</if>-->
<!--            updated = now(),-->
<!--        </trim>-->
<!--        WHERE-->
<!--        (id = #{id});-->
<!--    </update>-->

<!--    <delete id="deleteUser">-->
<!--        delete from tb_user where id=#{id}-->
<!--    </delete>-->
</mapper>