<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.wz.myBatisRedisDemo.dao.StudentMapper">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <resultMap id="BaseResult" type="com.wz.myBatisRedisDemo.pojo.Student">
        <result column="id" property="id" />
        <result column="student_name" property="studentName" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="city_name" property="cityName" />
    </resultMap>

    <select id="getStudent" resultMap="BaseResult">
        select * from db_student
        where
        1 = 1
        <if test="studentVO.studentName != null and studentVO.studentName != ''">
            and student_name = #{studentVO.studentName}
        </if>
        <if test="studentVO.age != null">
            and age = #{studentVO.age}
        </if>
        <if test="studentVO.sex != null and studentVO.sex != ''">
            and sex = #{studentVO.sex}
        </if>
        <if test="studentVO.cityName != null and studentVO.cityName !=''">
            and city_name = #{studentVO.cityName}
        </if>
    </select>

    <!--插入数据-->
    <insert id="insertStudent" useGeneratedKeys="true" parameterType="com.wz.myBatisRedisDemo.pojo.Student">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(UUID(), '-', '')
        </selectKey>
        insert into db_student (id, student_name, age, sex, city_name)
        values (#{id}, #{studentName}, #{age}, #{sex}, #{cityName})
    </insert>

    <update id="updateStudent" parameterType="com.wz.myBatisRedisDemo.pojo.Student">
        UPDATE db_student
        <trim prefix="set" suffixOverrides=",">
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="cityName != null">city_name = #{cityName}</if>
        </trim>
        WHERE
        (id = #{id});
    </update>

    <delete id="deleteStudent" parameterType="java.lang.String">
        delete from db_student where student_name=#{studentName}
    </delete>

    <select id="getStudentProvince" resultType="com.wz.myBatisRedisDemo.pojo.StudentProvince">
        select s.id, s.student_name, s.age, s.sex, s.city_name, c.province_name
        from db_city c, db_student s
        where c.city_name = s.city_name and s.student_name = #{studentName}
    </select>

    <select id="getStudentById" parameterType="java.lang.String" resultType="com.wz.myBatisRedisDemo.pojo.Student">
        select * from db_student where 1 = 1 and id = #{id};
    </select>
</mapper>